@{
    ViewData["Title"] = "Home Page";
}

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">EventEase</a>
    </nav>

    <div class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to EventEase</h1>
            <div class="btn-group" role="group">
                <a href="/Event" class="btn btn-azure btn-lg">Events</a>
                <a href="/Venue" class="btn btn-azure btn-lg">Venues</a>
                <a href="/Booking" class="btn btn-azure btn-lg">Bookings</a>
            </div>
        </div>
    </div>
</body>